.about {
  display: flex;
}

.abt {
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 4%;
  flex-grow: 1;
}
.abt h1 {
  font-size: 40px;
}

.abt h1::after {
  content: "";
  display: block;
  width: 20%;
  height: 5px;
  position: relative;
  background: #15c99f;
  margin-bottom: 5vh;
}

.abt .text {
  display: flex;
  flex-direction: column;
  color: #374e73;
  font-family: "Montserrat", sans-serif;
  gap: 20px;
}
.abt h2 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-bottom: 10vh;
}
.list li {
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.softskill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.skills h2::after {
  content: "";
  display: block;
  width: 20%;
  height: 5px;
  position: relative;
  background: #15c99f;
  margin-bottom: 3vh;
}

.skills li {
  padding: 5px;
}

.abt .text p {
  font-size: 20px;
}

.lime {
  color: #15c99f;
}
.blue {
  color: #0370b6;
}
.limer {
  color: #15c99f;
  font-size: 35px;
}

.important {
  font-weight: 700;
}

.Formations {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 60%;
  padding: 40px 60px;
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  gap: 20px;
  text-align: left;
  margin-bottom: 10vh;
}

.Formations .card {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.card .pad {
  margin-left: 35px;
}

.Formations .card h4 {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Formations .card h5 {
  font-weight: 500;
  text-align: left;
  margin: 0;
}

.about .abt .logiciel {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about .abt .logiciel .web {
  display: flex;
  flex-direction: row;
  gap: 20%;
  margin-bottom: 10vh;
}

.web .card {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logiciel .apps {
  display: flex;
  margin-bottom: 5vh;
  gap: 20%;
}
.logiciel .apps .card {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (min-width: 300px) and (max-width: 550px) {
  .abt{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
  }

  .abt h1 {
    font-size: 30px;
  }

  .abt h2{
    font-size: 20px;
    width: 70%;
  }

  .abt p{
    width: 90%;
  }

  .lime{
    font-size: 20px;
  }



  .abt .text .logiciel .web{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px;
  }

  .web .card{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }

  .logiciel h2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }
  .abt .text .logiciel .web .card img{
    width: 30px;
  }

  .abt .text .logiciel .apps{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px;

  }

  .apps .card{
      display: flex;
      justify-content: space-between;
      margin-right: 10px;
  }
  .abt .text .logiciel .apps .card img{
    width: 30px;
  }
  
}
