.project {
  display: flex;
  flex-direction: row;
}

.project .main {
  display: flex;
  margin-left: 30%;
  margin-top: 4%;
  flex-grow: 1;
  flex-direction: column;
}

.main h1 {
  font-size: 40px;
  color: #374e73;
  font-family: "Montserrat", sans-serif;
}

.main h1::after {
    content: "";
    display: block;
    width: 25%;
    height: 5px;
    position: relative;
    background: #15c99f;
    margin-bottom: 5vh;
  }

  .project{
    display: flex;
    flex-direction: column;
  }

  .project .main .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    margin-bottom: 10%;
  }

.project .main .cards .project_card{
    display: flex;
  font-family: "Montserrat", sans-serif;
  color: #374e73;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 10px;
  border-radius: 10px;
  border: #C6C6C6 1px solid;
  height: 60vh;
  justify-content: space-between;
  width: fit-content;
}

.project_card a{
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #15c99f;
  border-radius: 5px;
  margin-top: 10px;
}

.project_card img{
    margin-top: 20px;
    width: 90%;
    border: 2px solid #15c99f;
}

.type{
  margin-top: 15px;
}
