.contact {
  display: flex;
  flex-direction: row;
}

.contact .contact_me {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  flex-grow: 1;
  position: absolute;
  margin-left: 30%;
  width: 50%;
}

.contact_me h1 {
  font-size: 40px;
  color: #374e73;
  font-family: "Montserrat", sans-serif;
}

.contact_me h1::after {
  content: "";
  display: block;
  width: 20%;
  height: 5px;
  position: relative;
  background: #15c99f;
  margin-bottom: 5vh;
}

.contact_me .send_message {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 15px;
  border: 2px solid #15c99f;
  align-items: center;
}

.all {
  display: flex;
  gap: 10%;
}
.all .otherContact {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #374e73;
}

.otherContact .card{
  align-items: center;
  text-align: center;
  display: flex;
  gap: 20px;
}

.send_message input[type="text"] {
  width: fit-content;
  padding: 15px 50px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  outline: none;
  transition: 0.2s ease-in-out;
}
.send_message input[type="text"]:hover {
  border: 1px solid #15c99f;
  transition: 0.3s ease-in-out;
}
.send_message input[type="text"]:focus {
  border: 1px solid #15c99f;
  transition: 0.3s ease-in-out;
}
.send_message input[type="submit"] {
  width: fit-content;
  padding: 10px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.send_message textarea {
  width: fit-content;
  padding: 10px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  resize: none;
  outline: none;
  transition: 0.3s ease-in-out;
}
.send_message textarea:focus {
  border: 1px solid #15c99f;
  transition: 0.3s ease-in-out;
  background-color: #f6f6f6;
}
.send_message input[type="submit"]:hover {
  border: 1px solid #15c99f;
  transition: 0.2s ease-in-out;
}

.lime{
  color: #15c99f;
}
