.contact {
  display: flex;
  flex-direction: row;
}

.contact .contact_me {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  flex-grow: 1;
  position: absolute;
  margin-left: 30%;
  width: 50%;
}

.contact_me h1 {
  font-size: 40px;
  color: #374e73;
  font-family: "Montserrat", sans-serif;
}

.contact_me h1::after {
  content: "";
  display: block;
  width: 20%;
  height: 5px;
  position: relative;
  background: #15c99f;
  margin-bottom: 5vh;
}

.contact_me .send_message {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 15px;
  border: 2px solid #15c99f;
  align-items: center;
}

.all {
  display: flex;
  gap: 10%;
}
.all .otherContact {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #374e73;
}

.otherContact .card {
  align-items: left;
  text-align: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.card h3 {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}

.card a {
  color: #374e73;
  text-decoration: none;
  position: relative;
}

.card a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #15c99f;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.card a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.send_message input[type="text"] {
  width: fit-content;
  padding: 15px 50px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  outline: none;
  transition: 0.2s ease-in-out;
}
.send_message input[type="text"]:hover {
  border: 1px solid #15c99f;
  transition: 0.3s ease-in-out;
}
.send_message input[type="text"]:focus {
  border: 1px solid #15c99f;
  transition: 0.3s ease-in-out;
}
.send_message input[type="submit"] {
  width: fit-content;
  padding: 10px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.send_message textarea {
  width: fit-content;
  padding: 10px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  resize: none;
  outline: none;
  transition: 0.3s ease-in-out;
}
.send_message textarea:focus {
  border: 1px solid #15c99f;
  transition: 0.3s ease-in-out;
  background-color: #f6f6f6;
}
.send_message input[type="submit"]:hover {
  border: 1px solid #15c99f;
  transition: 0.2s ease-in-out;
}

.limecolor {
  color: #15c99f;
  font-size: 40px;
}

@media (min-width: 300px) and (max-width: 550px) {
  .contact .contact_me {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    flex-grow: 1;
    position: absolute;
    margin-left: 10px;
    width: 50%;
  }

  .contact_me .send_message {
    padding: 10px;
    margin: auto;
    margin-bottom: 20%;
  }

  .send_message input[type="text"] {
    width: fit-content;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    outline: none;
    transition: 0.2s ease-in-out;
  }

  .all {
    display: flex;
    flex-direction: column;
    gap: 10%;
  }

  .all .otherContact {
    text-align: left;
    flex-direction: column;
    display: flex;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #374e73;
    width: 10%;
  }

  .otherContact .card {
    width: 80%;
    margin-bottom: 5%;
  }

  .card a {
    font-size: 15px;
  }

  .send_message textarea {
    width: fit-content;
    padding: 0;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    resize: none;
    outline: none;
    transition: 0.3s ease-in-out;
  }

  .card h3 {
    text-align: left;
  }

  .card a::before {
    content: "";
    position: absolute;
    width: 1300%;
    height: 5px;
    background-color: #15c99f;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }

  .card a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
